img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/visual_sub.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.stock-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 600px;
}
.stock-search-or {
  margin-left: 15px;
  margin-right: 15px;
}
.quote-search-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-bottom: 20px;
  max-width: 600px;
}
.quote-search-wrapper .ml {
  margin-left: 10px;
}
.quote-search-wrapper .mr {
  margin-right: 10px;
}
.chart-wrapper {
  width: 100%;
  margin-top: 20px;
}
